body{
    margin: 0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 2px 2px 4px lightgrey;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}
.logout{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}

main{
    clear: left;
    width: 100%;
}

.mypage{
    margin: 0 auto;
    border: 2px solid lightgray;
    width: 600px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
}
.mypage_contents{
    margin: 30px 25px;
}

h2{
    text-align: center;
    border-bottom: 1px solid #31A263;
    font-size: 20px;
}
p{
    margin-top: 10px;
    margin-bottom: 10px;
}
.picture{
    float: left;
    margin: 25px;
}
.picture img{
    width: 100px;
    padding: 5px;
    border: 2px solid lightgrey;
}
.info{
    width: 60%;
    margin: 25px 0px;
    float: right;
}
.comments{
    clear: both;
    text-align: left;
    border-top: 1px dotted lightgray;
}
.buttons{
    text-align: center;
}
.hensyu_button{
    display: inline-block;
    border: 1px solid lightgray;
    padding: 6px 10px 4px 10px;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    width: 140px;
    font-size: 15px;
}
.hensyu_button a{
    text-decoration: none;
    color: #fff;
}

footer{
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: 2px solid lightgray;
    position: absolute;
    bottom: 0;
}



