body{
    margin: 0 auto;
    background-color: #f8f8f8;
}

header{
    width: 100%;
    height: 80px;
    background-color: #fff;
    box-shadow: 2px 2px 4px lightgrey;
    text-align: center;
}

header img{
    margin-top: 15px;
    height: 50px;
    padding-left: 40px;
}
.login{
    float: right;
    margin-top: 50px;
    margin-right: 20px;
    font-size: 14px;
}
main{
    clear: left;
    width: 100%;
}
form{
    margin: 0 auto;
    border: 2px solid lightgray;
    width: 600px;
    background-color: #fff;
    margin-top: 40px;
    margin-bottom: 40px;
    box-shadow: 4px 4px 4px lightgray;
}
.form_contents{
    margin: 30px 25px;
}
h2{
    text-align: center;
    border-bottom: 1px solid #31A263;
    font-size: 20px;
}
label{
    display: inline-block;
    font-size: 13px;
}
.hissu{
    display: inline-block;
    margin-right: 5px;
    background-color: #31A263;
    color: #fff;
    font-size: 13px;
    width: 40px;
    text-align: center;
}
.name{
    text-align: left;
    margin: 25px;
}
.mail{
    text-align: left;
    margin: 25px;
}
.password{
    text-align: left;
    margin: 25px;
}
.picture{
    text-align: left;
    margin: 25px;
}
.comments{
    text-align: left;
    margin: 25px;
}
textarea{
    resize: none;
}
.formbox{
    border: 1px solid #dfdfdf;
    padding: 5px;
    color: #999;
    background: #fff;
}
.toroku{
    text-align: center;
}
.submit_button{
    border: 1px solid lightgray;
    padding: 6px 60px 4px 60px;
    color: #fff;
    background-color: #31A263;
    border-radius: 5px;
    border-bottom: 2px solid gray;
    width: 200px;
    margin-bottom: 20px;
}
footer{
    width: 100%;
    height: 40px;
    background-color: #fff;
    color: gray;
    text-align: center;
    line-height: 40px;
    font-size: 13px;
    border-top: 2px solid lightgray;
    position: absolute;
    bottom: 0;
}



